.DS_Store

# node
node_modules
npm-debug.log
.env

# app
*.nginx.conf
config.json

# build
__build
__build.lock

# IDE
.idea

*.sublime-project
*.sublime-workspace

sftp-config.json
sftp-settings.json

# build
__out